<div class="container" *ngIf="senderName">
  <div #containerMessages class="row pt-4 container-messages">
    <div class="col-12 offset-md-1 col-md-10">
      <p *ngFor="let message of messages" class="bg-light p-2 border" [class.text-right]="message.sender === senderName">
        <strong>{{message.sender}}</strong> {{message.dateTime | date:'hh:mm:ss'}}
        <br />
        {{message.text}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-9 offset-md-1 col-md-8">
      <textarea #inputText class="form-control" (keyup.enter)="sendMessage(inputText)"> </textarea>
    </div>
    <div class="col-3 col-md-2">
      <button type="button" class="btn btn-primary w-100" (click)="sendMessage(inputText)">Enviar Mensagem</button>
    </div>
  </div>
</div>
