<div class="container" *ngIf="enableInput">
  <div class="row mt-4">
    <div class="col-10 offset-md-1">
      <p class="lead">Informe seu <strong>nome</strong> para ingressar no chat!</p>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-12 offset-md-1 col-md-7">
      <input #inputText autofocus type="text" class="form-control" (keyup.enter)="load(inputText)">
    </div>
    <div class="col-12 col-md-2">
      <button type="button" class="btn btn-primary w-100" (click)="load(inputText)">
        Entrar no chat
      </button>
    </div>
  </div>
</div>
